
<section class="performanceSection section">
  <div class="container">
    <div class="row row-graphic row-center">
      <div class="col-md-12 col-graphic">
        <div class="movingGraphic">
          <div class="movingGraphic_circleBg"></div>
          <div class="movingGraphic_computers">
            <img
              src="{{imageUrlBack}}"
              class="computer_back"
              alt="performance back image"
            >
            <img
              src="{{imageUrlFront}}"
              class="computer_front"
              alt="performance front image"
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row row-info row-center">
      <div class="col-md-10">
        <h1 class="info_title">
          {{title}}
        </h1>
        <p class="info_desc">
          {{description}}
        </p>
      </div>
    </div>
  </div>
</section>
