p,.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6, 
button, input, textarea, html {
	font-family: $font-family;
}
a {
	font-weight: 600;
	text-decoration: none;
	color: $primary-color;

	&:visited ,
	&:hover {
		color: $primary-color;
	}
}

html#nclexapp, body {
	font-size: $base-font-size !important;
}