<div class="page-institution">
  <!-- Hero with Image -->
	<app-hero-section-container page="institution">
  </app-hero-section-container>
  
  <!-- University Students -->
	<app-university-section-container>
  </app-university-section-container>

  <!-- Having great questions ... way of study -->
  <app-work-section-container>
  </app-work-section-container>

  <!-- NCLEX ExpertAcademy ... and Faculty -->
  <div class="row benefits-registration">
    <app-benefit-section-container>
    </app-benefit-section-container>

    <!-- Let's Talk -->
    <app-registration-section-container page="institution">
    </app-registration-section-container>
  </div>

  <!-- Help your students ... your program -->
  <app-goal-section-container>
  </app-goal-section-container>

  <!-- Subscribe to our Newletters -->
	<app-subscription-section-container>
	</app-subscription-section-container>
</div>