<!-- Checkout Our ... Samples-->
<section class="elearningSection section">
  <div class="container fluid">
    <div class="row row-header row-center">
      <h4 class="section_header section_header-2">{{title}}</h4>
    </div>
    <div class="row row-learnings">
      <div 
        class="col col-sm-3"
        *ngFor="let elearning of elearnings; index as i"
      >
        <img 
          src="{{elearning.imageUrl}}"
          alt="expert academy e-learnings"
          data-aos="fade-in"
          [attr.data-aos-delay]="300 * i"
        />
      </div>
    </div>

    <div class="row row-footer row-center">
      <button 
        mat-button
        class="ncBttn ncBttn-primary"
      >
        {{buttonText}}
      </button>
    </div>
  </div>
</section>

