<!-- container of your apps here / router outlet -->
<div class="page-home">
	<!-- Hero with Image -->
	<app-hero-section-container page="home">
	</app-hero-section-container>

	<!-- University Students -->
	<app-university-section-container>
	</app-university-section-container>

	<!-- Nurse Practitioners, ... Institutions -->
	<app-institution-section-container>
	</app-institution-section-container>

	<!-- Our Accreditation -->
	<app-accreditation-section-container>
	</app-accreditation-section-container>

	<!-- ExpertBanks -->
	<app-expertbank-section-container>
	</app-expertbank-section-container>

	<!-- Figures - 1.5M -->
	<app-figure-section-container>
	</app-figure-section-container>

	<!-- Checkout Our ... Samples-->
	<app-elearning-section-container>
	</app-elearning-section-container>

	<!-- Latest News -->
	<app-news-section-container>
	</app-news-section-container>

	<!-- Improve ... (has forms) - Registration Form -->
	<app-registration-section-container page="home">
	</app-registration-section-container>

	<!-- Every Day, More Nursing... - Testimonials -->
	<app-testimonial-section-container>
	</app-testimonial-section-container>

	<!-- Subscribe to our Newletters -->
	<app-subscription-section-container>
	</app-subscription-section-container>
</div>