<div class="page-expertbank">
  <!-- Hero with Image -->
  <app-hero-section-container page="expertbank">
  </app-hero-section-container>
  
  <!-- What makes ExpertBanks... rest? -->
  <app-advantage-section-container>
  </app-advantage-section-container>
  
  <!-- Out content ... NCLEX-RN -->
  <app-feature-section-container>
  </app-feature-section-container>
  
  <!-- Our exam ... peers -->
  <app-performance-section-container>
  </app-performance-section-container>
  
  <!-- Improve ... (has forms) - Registration Form -->
  <app-registration-section-container page="expertbank">
  </app-registration-section-container>
  
  <!-- Expert Academy allows ... have to take -->
  <app-practice-section-container>
  </app-practice-section-container>
</div>