/* ==========================================================================
   client colors
   ========================================================================== */
$primary-color: #49a7fb;
$primary-color-100: #155FBF;
$secondary-color: #03178C;
$secondary-color-100: #020F59;

/* ==========================================================================
  basic colors
   ========================================================================== */
$black: #0c0c0c;
$red: #FF4444;
$orange: #F98A1E;
$yellow: #FFD544;
$green: #58E95B;
$jade: #008B98;
$teal: #1FC8B6;
$blue: #0060FF;
$indigo: #3A13B7;
$purple: #902BEE;
$violet: #E41DA5;
$white: #FFF;
$lightgray: #F2F2F2;


/* ==========================================================================
   system colors
   ========================================================================== */
$disabled: #D7D7D7;
$default: #D7D7D7;
$error: #F62F2F;
$success: #86DF1E;
$text-color: #000000;
$text-subhead-color: #5A5A5A;
$text-header-color: #222223;
$text-color-white: $white;

/* ==========================================================================
   typography
   ========================================================================== */
$base-font-size: 14px;
$font-family: 'Roboto', sans-serif;

/* ==========================================================================
   nav vars
   ========================================================================== */
$nav-height: 70px;
$nav-bg: #FFFFFF;


