<div class="section preview">
  <!-- Home Page, Toggle View -->
  <div class="header">
    <div class="title">
      <h2>Home Page</h2>
    </div>
    <div class="view-controls">
      <div class="label">
        <p>Toggle View</p>
      </div>
      <div class="buttons">
        <button (click)="toggleView('desktop')">Desktop</button>
        <button (click)="toggleView('mobile')">Mobile</button>
      </div>
    </div>
  </div>

  <!-- Iframe -->
  <iframe id="iframe-nclex" src="/" frameborder="0"></iframe>
</div>