<!-- Hero with Image -->
<app-hero-section-container page="about">
</app-hero-section-container>
  
<!-- Figures - 1.5M -->
<app-figure-section-container>
</app-figure-section-container>

<!-- Our Origins, Our Beliefs, Our Goals -->
<app-about-us-section-container>
</app-about-us-section-container>

<!-- Stay Updated, Faster Learning ... -->
<app-motivation-section-container>
</app-motivation-section-container>

<!-- Every Day, More Nursing... - Testimonials -->
<app-testimonial-section-container>
</app-testimonial-section-container>