 
<div class="page-nclex">
  <!-- Hero with Image -->
  <app-hero-section-container page="nclex">
  </app-hero-section-container>

  <!-- University Students -->
	<app-university-section-container>
  </app-university-section-container>
  
  <!-- The first step to ... exam day -->
  <app-preparation-section-container>
  </app-preparation-section-container>

  <!-- Having great questions ... way of study -->
  <app-improvement-section-container>
  </app-improvement-section-container>

  <!-- An innovative ... for the NCLEX-RN -->
  <app-innovation-section-container>
  </app-innovation-section-container>

  <!-- Every Day, More Nursing... - Testimonials -->
	<app-testimonial-section-container>
	</app-testimonial-section-container>
</div>